#particles-js {
    position: absolute;
    width:100%;
    height:100%;
    background-image: url("../img/nib-background-v3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:100vh;
    z-index:-100;
}


#title-container {
    /* background-color:pink; */
    /* margin-top:80px; */
    /* padding-top:80px; */
    position:relative;
    /* top:50px; */
    width:75%;
    /* height: 60%; */
    left:50%;
    transform: translateX(-50%);
    /* min-height: 70vh; */
    max-width:860px;
    /* vertical-align:middle; */
    /* top:25px; */
    height: 100vh;
    display:table;
}

#title {
    margin-top:120px;
    margin-bottom: 0px;
    display:table-cell;
    position:relative;
    vertical-align: middle;
    max-width:100%;
    position:relative;
    vertical-align:middle;
    /* background-color:yellow; */
    /* top:175px; */
    
}

#tagline {
    font-family: Avenir;
    font-weight: 900;
    color: #1B67B1;
    font-size: 50px;
    max-width: 620px;
}

@media screen and (max-width: 550px) {
    #nib-title {
        font-size:50px;
    }
   
} 




#home-buttons {
    position:relative;
    /* left:50%; */
    /* transform:translateX(-50%); */
    /* text-align:center; */
    /* top: -10px; */
    margin-top:25px;

}


.home-but{
    display:inline-block;
    padding:0.35em 1.2em;
    /* border:0.1em solid #FFFFFF; */
    border:0.1em solid #1B67B1; 
    margin:-2em 0.3em 0.3em 0.3em;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    /* color:#FFFFFF; */
    color: #1B67B1;
    text-align:center;
    transition: all 0.2s;
    /* background-color: rgba(255,255,255,0.85); */

    }
.home-but:hover{
    /* color:#000000; */
    /* background-color:#FFFFFF; */
    background-color: #1B67B1;
    color: white;
}
    /* @media all and (max-width:30em){
     a.button1{
      display:block;
      margin:0.4em auto;
     } 
    }*/

#home-about {
    width: 100vw;
    /* height: 800px; */
    position:relative;
    /* min-height: 150px; */
}


#home-about-words {
    width: 70%;
    left:50%;
    position:relative;
    transform:translateX(-50%);
    padding-top: 100px;
    display:inline-block;
}

.home-box {
    margin-left:6%;
    margin-right: 1.5%;
    width: 42%;
    text-align:center;
    box-sizing: border-box;
    /* box-shadow: none; */
    /* border: none; */
    /* font: 2em/1 sans-serif; */
    padding: 12px 12px;
    /* letter-spacing: 5px; */
    /* color: white; */
    border: solid 2px transparent;
    border-image: linear-gradient(45deg, #3380C4, #4AB9FB);
    border-image-slice: 1;
    -webkit-background-clip: text;
    background-clip: text;
    /* text-fill-color: transparent; */
    display:inline-block;
    vertical-align:middle;
    min-height: 300px;
   
}

.home-header {
    color: #1B67B1;
    font-family:Avenir;
    font-size:18px;
    font-weight:800;
    margin-bottom: 10px;
}

#stats {
    position:relative;
}

.banner {
    margin-top: 80px;
    width:100vw;
    position:relative;
}

.banner img {
    position:relative;
    z-index: -50;
    object-fit: cover;
    height:100%;
    width:100%;
    height: 400px;
}

#stat-banner {
    position:absolute;
    top:120px;
    width: 80%;
    left: 50%;
    transform:translateX(-50%);
    border-style: solid;
    border-width:1px;
    border-color: white;
    height: 150px;

}

.stat-num {
    color: #1B67B1;
    font-family:Avenir;
    letter-spacing: 1.5px;
    font-weight:900;
    font-size: 36px;
}

.stat {
    padding-top: 25px;
    display:inline-block;
    text-align:center;
    width: 20%;
    padding-left: 2%;
    padding-right: 2%;
    vertical-align:middle;
}

/* @media screen and (max-width: 1000px) {
    #home-about {
        height: 300px;
    }
}

@media screen and (max-width: 700px) {
    #home-about {
        height: 200px;
    }
} */


#slideshow {
    position:relative;
    /* margin-top: 60px; */
    width: 85%;
    left:50%;
    transform:translateX(-50%);
    max-width: 600px;
    margin-top:-45px;
}

.slideshow-header2 {
    /* margin-top:60px; */
    color: #1B67B1;
    font-family: Avenir;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 10px; 
    text-align:center;
    /* text-align:center; */
}

#slideshow img {
    object-fit: contain;
    max-width: 100%;
    max-height:100%;
}


#causes {
    position:relative;
    font-family:Avenir;
}

#cause-banner {
    position:absolute;
    top:70px;
    left:36%;
    width:50%;
    /* background-color:pink; */
}

#cause-title {
    color:#1B67B1;
    font-weight:800;
    font-size:24px;
    text-align:center;
    margin-bottom: 30px;
}

.cause {
    width: 32%;
    display:inline-block;
    text-align:center;
    margin-bottom: 15px;
    font-size:14px;
}


#quote {
    /* width:100vw; */
    display:inline-block;
    /* margin-top: 40px; */
    width:105%;
    position:relative;
    left:50%;
    transform: translateX(-50%);
    /* background-color:#ECF2F7; */
}

#start-quote, #end-quote {
    display:inline-block;
    width: 15%;
}

#start-quote img, #end-quote img {
    object-fit: contain;
    max-width:100%;
}

#end-quote {
    display: inline-block;
    vertical-align:bottom;
    margin-bottom:-50px;
}


#quote-words{
    display: inline-block;
    width: 64%;
    vertical-align:middle;
    margin-left:2.4%;
    margin-right:2.4%;
    /* text-align:center; */
    vertical-align:top;
    margin-top:50px;
    font-size:20px;
}


#signature {
    margin-top:3px;
    text-align:right;
    font-size:16px;
    color: #6E95BA;
}

#video {
    /* margin-top: 50px; */
    /* position:relative; */
    /* left:50%;
    transform: translateX(-50%); */
    /* margin-left:100px; */
}


#vid-container {
    width:100%;
    left:50%;
    transform:translateX(-50%);
    max-width:706px;
    /* height: 300px; */
    /* text-align:center; */
    position: relative;
    padding-bottom:56.25%;
}

#vid-container iframe {
    position:absolute;
    top:0;
    width:85%;
    left:50%;
    height:85%;
    transform: translateX(-50%);
    /* position: relative; */
}


