#particles-js {
    position: absolute;
    width:100%;
    height:100%;
    background-image: url("../img/nib-background-v3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:100vh;
    z-index:-100;
}


#title-container {
    /* background-color:pink; */
    /* margin-top:80px; */
    /* padding-top:80px; */
    position:relative;
    /* top:50px; */
    width:75%;
    /* height: 60%; */
    left:50%;
    transform: translateX(-50%);
    /* min-height: 70vh; */
    max-width:860px;
    /* vertical-align:middle; */
    /* top:25px; */
    height: 100vh;
    display:table;
}

#title {
    margin-top:120px;
    margin-bottom: 0px;
    display:table-cell;
    position:relative;
    vertical-align: middle;
    max-width:100%;
    position:relative;
    vertical-align:middle;
    /* background-color:yellow; */
    /* top:175px; */
    
}

#tagline {
    font-family: Avenir;
    font-weight: 900;
    color: #1B67B1;
    font-size: 50px;
    max-width: 620px;
}

@media screen and (max-width: 550px) {
    #nib-title {
        font-size:50px;
    }
   
} 




#home-buttons {
    position:relative;
    /* left:50%; */
    /* transform:translateX(-50%); */
    /* text-align:center; */
    /* top: -10px; */
    margin-top:25px;

}


.home-but{
    display:inline-block;
    padding:0.35em 1.2em;
    /* border:0.1em solid #FFFFFF; */
    border:0.1em solid #1B67B1; 
    margin:-2em 0.3em 0.3em 0.3em;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    /* color:#FFFFFF; */
    color: #1B67B1;
    text-align:center;
    transition: all 0.2s;
    /* background-color: rgba(255,255,255,0.85); */

    }
.home-but:hover{
    /* color:#000000; */
    /* background-color:#FFFFFF; */
    background-color: #1B67B1;
    color: white;
}
    /* @media all and (max-width:30em){
     a.button1{
      display:block;
      margin:0.4em auto;
     } 
    }*/

.divider {
    margin-top:80px;
    text-align:center;
    margin-bottom:60px;
}

#slideshow {
    position:relative;
    /* margin-top: 60px; */
    width: 85%;
    left:50%;
    transform:translateX(-50%);
    max-width: 600px;
    margin-top:-45px;
}

.slideshow-header2 {
    /* margin-top:60px; */
    color: #1B67B1;
    font-family: Avenir;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 10px; 
    text-align:center;
    /* text-align:center; */
}

#slideshow img {
    object-fit: contain;
    max-width: 100%;
    max-height:100%;
}


#quote {
    /* width:100vw; */
    display:inline-block;
    /* margin-top: 40px; */
    width:105%;
    position:relative;
    left:50%;
    transform: translateX(-50%);
    /* background-color:#ECF2F7; */
}

#start-quote, #end-quote {
    display:inline-block;
    width: 15%;
}

#start-quote img, #end-quote img {
    object-fit: contain;
    max-width:100%;
}

#end-quote {
    display: inline-block;
    vertical-align:bottom;
    margin-bottom:-50px;
}


#quote-words{
    display: inline-block;
    width: 64%;
    vertical-align:middle;
    margin-left:2.4%;
    margin-right:2.4%;
    /* text-align:center; */
    vertical-align:top;
    margin-top:50px;
    font-size:20px;
}


#signature {
    margin-top:3px;
    text-align:right;
    font-size:16px;
    color: #6E95BA;
}

#video {
    /* margin-top: 50px; */
    /* position:relative; */
    /* left:50%;
    transform: translateX(-50%); */
    /* margin-left:100px; */
}


#vid-container {
    width:100%;
    left:50%;
    transform:translateX(-50%);
    max-width:706px;
    /* height: 300px; */
    /* text-align:center; */
    position: relative;
    padding-bottom:56.25%;
}

#vid-container iframe {
    position:absolute;
    top:0;
    width:85%;
    left:50%;
    height:85%;
    transform: translateX(-50%);
    /* position: relative; */
}


