#nav-topbar {
    position:fixed;
    top:0;
    /* top:0; */
    /* background-color: white; */
    background: rgba(255,255,255,0.85);
    width:100vw;
    height:80px;
    /* min-height: 100px; */
    z-index: 25;
}


#nav-item-container {
    position:relative;
    top: 12px;
    width: 75%;
    left: 50%;
    transform: translateX(-50%);
    height:100%;
    max-width: 910px;
}

#nav-topbar #nav-home {
    display: inline;
    position:relative;
    /* top: -2px; */
}

#nav-topbar #nav-home a{
    text-decoration: none;
}


#nav-topbar #nav-home .nib-logo {
    object-fit:contain;
    max-height:60%;
}

#nav-topbar #nav-items {
    display: inline-block;
    position: relative;
    vertical-align:top;
    top: 20%;
    font-size: 13.5px;
    float:right;
}

#menu {
    position:absolute;
    right: 0px;
    object-fit: contain;
    max-height: 60%;
    top: 8%;
    display:none;
}

  @media screen and (max-width: 813px) {
     #nav-topbar #nav-items {
         display:none;
     }
     #menu {
         display:block;
     }
 } 

 #nav-topbar .nav-item {
    display: inline-block;
    position:relative;
    padding-left: 20px;
    /* left: 700px; 
    padding-left: 30px; */
} 

.nav-item:hover{
    color: #1B67B1;
}

.nav-item a {
    text-decoration:none;
    color: inherit;
}

#side-bar {
    display:none;
    position:fixed;
    width: 225px;
    height: 100vh;
    background-color: lightblue;
    z-index: 50;
    color: white;
    text-align:center;
    padding-top: 20px;
    left: -225px;
}

#side-items .nav-item{
    margin-top: 15px;
}

/* #nav-sidebar {
    display:none;
    position:fixed;
    top:0px;
    right:0px;
    width:325px;
    max-width: 40%;
    height:100vh;
    background-color:white;
    z-index:13;
}


#sidebar-exit {
    position:absolute;
    top:20px;
    left:85%;
    width:20px;
}

#sidebar-text-container {
    width:60%;
    position:relative;
    left: 20%;
    top: 40px;
}

#sidebar-heading {
    font-family: Raleway;
    font-size: 31px;
    text-align:center;
    margin-bottom:5px;
}

#sidebar-heading a {
    text-decoration:none;
    color: inherit;
}

#orange-line {
    background-color: #F09333;
    height:3px;
    /*width:67%;
    position:relative;
    left: 33%;
}


#menu-items a {
    display: block;
    text-decoration:none;
    text-align:right;
    margin-top:15px;
    font-size: 20px;
    color: #7F7F7F;
}

#menu-items a.on {
    color: #4E93A8;
}

 @media screen and (max-width: 810px) {
    #menu-items a {
        text-align:center;
    }
 } 