#top-side-split {
    display:inline-block;
}

#projects-text {
    width: 50%;
    display:inline-block;
    vertical-align: top;
}


.service img {
    height: 20px;
    vertical-align:middle;
}

/* .value-header img {
    display:inline-block;
    vertical-align:middle
} */

.service-header b {
    /* display:inline-block; */
    vertical-align:middle;
    margin-left:5px;
}

.service .para {
    margin-top: 0px;
    margin-bottom:25px;
}


#client-container {
    margin-left: 2%;
    width: 47%;
    display:inline-block;
    vertical-align: top;
    /* background-color:pink; */
}

#clients {
    margin-top:20px;
}

#clients img {
    object-fit: contain;
    width: 20%;
    /* height: 35px; */
    margin-left:6%;
    margin-right:6%;
    /* margin-right: 38px; */
    margin-bottom: 25px;
    vertical-align:middle;
}
